.container {
  
}    

.tile {
  /* fill: #fff; */
  fill: #aaa;
}

.tile:hover { 
  fill: #dfd;
}

.tile.selected {
  fill: #8f8;
}

.mesh {
  stroke: #000;
  stroke-opacity: 1;
  stroke-width: 1px;
  pointer-events: none;
}